HELP.md

# ─────────────────────────────────────────────
# Maven / Build
# ─────────────────────────────────────────────
target/
!**/src/main/**/target/
!**/src/test/**/target/

build/
!**/src/main/**/build/
!**/src/test/**/build/

.mvn/wrapper/maven-wrapper.jar

# ─────────────────────────────────────────────
# Environment Variables
# ─────────────────────────────────────────────
.env
.env.*

# ─────────────────────────────────────────────
# Spring Boot
# ─────────────────────────────────────────────
*.log

# ─────────────────────────────────────────────
# STS
# ─────────────────────────────────────────────
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# ─────────────────────────────────────────────
# IntelliJ IDEA
# ─────────────────────────────────────────────
.idea/
*.iws
*.iml
*.ipr
out/

# ─────────────────────────────────────────────
# NetBeans
# ─────────────────────────────────────────────
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# ─────────────────────────────────────────────
# VS Code
# ─────────────────────────────────────────────
.vscode/

# ─────────────────────────────────────────────
# OS Files
# ─────────────────────────────────────────────
.DS_Store
Thumbs.db